body {
    font-family: 'Source Code', Arial, Helvetica, sans-serif;
    background: #121212;
    text-decoration: none;
}

.nav {
    width: 200px;
}

.nav:hover {
    transform: scale(1.1);
}

.navbar {
    z-index: 2;
}

.fa {
    line-height: unset;
}

.svg-bg {
    z-index: -1;
    max-height: 4500px;
    overflow-y: hidden;
}

.svg {
    padding: 80px;
    opacity: 0.2;
}

.variable-text {
    display: inline-block;
}

.headshot {
    border-radius: 50%;
    margin-left: 60%;
}

.skills-section {
    font-size: 1.5rem;
    margin-bottom: 5rem;
}

.section {
    margin: 5rem;
    margin-bottom: 10rem;
}

.bg {
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
}

.descriptor {
    margin: 5rem;
}

.pipe {
    animation: pipeTick 1s infinite step-end;
}

.projects-layout h1:nth-child(2n) {
    transform: translateX(100%);
}

.projects-layout h1:nth-child(2n-1) {
    transform: translateX(-100%);
}

.projects-layout > h1 {
    margin-bottom: 20rem;
}

.center-line {
    width: 10px;
    height: 95rem;
    background-color: white;
    left: 0;
    right: 0;
    margin: auto auto;
    border-radius: 5px;
    z-index: -1;
}

.project {
    position: relative;
    margin-bottom: 3rem;
    width: 25%;
}

.project-cards {
    margin-top: 13rem;
}

.project:nth-child(odd) {
    transform: translate(-100%);
}

.project:nth-child(even) {
    transform: translate(100%);
}

.form-group {
    width: 35rem;
    margin: 1rem;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #6c757d;
    border-radius: 10px;
}

@keyframes pipeTick {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@font-face {
    font-family: Source Code;
    src: url(fonts/source-code.woff2), url(fonts/source-de.woff);
}

@media only screen and (max-width: 1000px) {
    .headshot {
        margin: auto auto;
    }

    .center-line {
        left: unset;
        right: 25%;
    }

    .projects-layout > h1 {
        transform: unset !important;
        position: relative;
        left: 40%;
    }

    .projects-layout h1:nth-child(2n-1) {
        transform: translateX(100px);
    }

    .project:nth-child(odd) {
        transform: translateX(-50px);
        width: 50%;
    }

    .project:nth-child(even) {
        transform: translateX(-50px);
        width: 50%;
    }

    .variable-text {
        display: block;
    }

    .descriptor {
        margin: 1rem !important;
    }
}

@media only screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .section {
        margin: 10rem 1rem;
    }

    .headshot {
        width: 75%;
    }

    .descriptor {
        margin: auto auto;
    }

    .nav {
        font-size: 0.8rem;
    }

    .form-group {
        width: 80%;
    }

    li {
        font-size: 1rem;
    }

    p {
        font-size: x-small;
    }

    h2 {
        font-size: medium;
    }
}
